@import "3L";
@import "arrows";
@import "retina";
@import "typography";
@import "hero";
@import "copyright";
@import "nav";
@import "button";

.reset();

#tagline
    {
    background: @grey;
    padding: 40px 120px;
    text-align: center;
    p 
        {
        color: @light;
        .regular(@l);
        }
    }

#services
    {
    background: @lightlight;
    h2 { color: @grey; }
    .cta
        {
        margin: 20px 0;
        text-align: center;
        }
    }

#services ul.services
    {
    margin-bottom: 20px;
    li
        {
        width: 31%;
        display: inline-block;
        margin: 0 2% 0 0;
        &:nth-child(3n+0) { margin: 0px; }
        vertical-align: top;
        &:before
            {
            content: "";
            display: block;
            background: url(../images/icons.png) 0px 0px no-repeat;
            background-size: 288px 192px;
            width: 96px;
            height: 96px;
            margin: 16px auto;
            }
        &.nlp:before            { background-position: 0px 0px; }
        &.classification:before { background-position: -96px -96px; }
        &.recommendation:before { background-position: -192px 0px; }
        &.prediction:before     { background-position: -96px 0px; }
        &.acquisition:before    { background-position: 0px -96px; }
        &.growth:before         { background-position: -192px -96px; }
        h3
            {
            text-align: center;
            .title(@m);
            color: @grey;
            margin-bottom: 8px;
            }
        p 
            {
            color: @greygreen;
            .regular(@s);
            }
        }
    }

#process
    {
    h2 { color: @light; margin-bottom: 20px;}
    .diagonal-gradient (#85C4D1, #7BA7D7);
    #details
        {
        height: 320px;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
        #panel {
            .transition(left 1s ease);
            position: absolute;
            left: 0px;
            margin-left: 210px;
        }
        }
    .detail { 
        background: @grey;
        color: @light;
        text-align: left;
        #arrow > .top(20px, @grey);
        .regular(@s);
        padding: 20px;
        top: 20px;
        left: 210px;
        width: 500px;
        .opacity(0);
        .transition(all 1s ease);
        box-sizing: border-box;
        position: absolute;
        .box-shadow(0px 6px 16px rgba(0, 0, 0, .2));
        p
            {
            margin-bottom: 12px;
            }
    }
    .detail1 {left: 0px; .opacity(1); &:after { left: 60px;} }
    .detail2 {left: 520px; &:after { left: 200px;} }
    .detail3 {left: 1040px; &:after { left: 390px;} }
    .detail4 {left: 1560px; &:after { left: 460px;} }
    ul  
        {
        text-align: center;
        position: relative;
        }
    li
        {
        width: auto;
        display: inline-block;
        &:hover, &.active
            {
            color: #82BDD2; 
            background: @light;
            }
        border: 1px solid @light;
        padding: 8px 12px 8px 12px;
        margin: 0px 4px 8px 4px;
        text-transform: uppercase;
        color: @light;
        .title(@l);
        }

    }

#team
    {
    background: @grey;
    h2 { color: @light; }
    .columns
        {
        .columns(2);
        margin: 40px 40px 20px 40px;
        .column-gap(20px);
        }
    .h-card
        {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
        .clearfix;
        div.right { margin-left: 115px; }

        .avatar
            {
            width: 96px;
            height: 96px;
            .border-radius(50%);
            overflow: hidden;
            img {width: 96px; height: 96px;}
            float: left; 
            margin-right: 16px;
            border: 2px solid @light;
            &:after
                {
                content: "";
                width: 100%;
                height: 20px;
                border: 2px solid green;
                display: block;
                position: relative;
                }
            }
        p.n
            {
            .title(@l);
            color: @light;
            .p-job-title {color: lighten(@grey, 30); }
            }
        p.p-org, p.p-key {display: none;}
        a.p-nickname
            {
            display: block;
            .regular(@s);
            color: lighten(@grey, 30);
            text-decoration: none;
            margin: 8px 0;
            &:hover
                {
                text-decoration: underline;
                }
            }
        p.p-note
            {
            color: lighten(@grey, 50);;
            .regular(@s);
            }
        }
    }

#lowercta
    {
    .diagonal-gradient (#85C4D1, #7BA7D7);
    p
        {
        color: @light;
        .regular(@l);
        text-align: center;
        }
    .cta
        {
        margin: 30px 0 10px 0;
        text-align: center;
        }
    }


@import "mobile";
