form.lead
    {
    h2
        {
        .title(@xl);
        color: @lightlight;
        margin-top: 40px;
        }
    p.ok
        {
        .regular(@m);
        background: #6bba8c;
        color: @lightlight;
        .border-radius(4px);
        text-align: center;
        &.error { background: #aa5562; }
        }
    input[type=submit]
        {
        border: none;
        .button();
        .button.small;
        }
    input, input[type=submit], .ok
        {
        background: @lightlight;
        width: 380px;
        max-width: 100%;
        .border-box-sizing;
        display: block;
        padding: 8px 12px;
        .regular(@m);
        margin: 8px auto;
        outline: none;
        }
    input[type=text]
        {
        &.error 
            {
            border-color: #ba3f50;
            .box-shadow(inset 0px 0px 0px 2px #ed9ba4);
            }
        &:focus
            {
            border-color: @blue-medium;
            }
        border: 1px solid #5c94b5;
    }
    p.small { .regular(@s) !important; color: lighten(@grey, 25%); margin-top: 10px; text-align: center}
    }
.cta.lead
    {
    width: 380px;
    max-width: 100%;
    text-align: center;
    margin: 0px auto 40px auto;
    a { width: 100%; .button.small; margin-top: 30px;}
    }
.cta.lead .or 
    {
    width: 380px;
    max-width: 100%;
    .title(@s);
    text-align: center;
    margin: 20px auto -10px auto;
    position: relative;
    color: @light;
    &:after, &:before
        {
        display: block;
        content: "";
        width: 170px;
        max-width: 45%;
        // padding-right: 40px;
        // .border-box-sizing;
        background: @light;
        position: absolute;
        bottom: 50%;
        height: 1px;
        }
    &:after {right: 0px;}
    }

form.lead.blue 
    {
    h2 {color: @grey;}
    input[type=submit] {.button.blue;}
    input[type=text] { border: 1px solid darken(desaturate(@light, 50), 20); }

    }
.cta.lead.blue .or
    {
    &:after, &:before {background: lighten(@grey, 25%);}
    color: lighten(@grey, 25%);
    }
