{% extends "base.html" %}
{% block title %}summer.ai - Data Deep Dive{% endblock title %}
{% block style %}marketing{% endblock style %}
{% block content %}
    <div id="hero">
      <div id="lights"></div>
      <div class="content">
        <h1>Data Deep Dive</h1>
        <h2>Discover what’s possible with your data</h2>
          <div class="cta">
            <a href="mailto:hello@summer.ai?subject=Let's talk about data!" class="button blue">Let's get in touch!</a>
            <p>Guaranteed response in 24 hours!</p>
          </div>
      </div>
    </div>

  {% include "nav.html" %}
    <div class="marketing">
      <div class="container">
      <h2>Data Deep Dive</h2>
      <p>Our Data Deep Dive is the first step to helping your business leverage the latest machine learning techniques and making your products more intelligent.</p>

      <p>Whether you already have a specific machine learning goal in mind or you want to explore new verticals for your business, it all starts with your data. Our expert data scientists will find and aggregate your data no matter where it lives - Excel, Hadoop, SQL, or punchcards (try us). </p>

      <p>We will then apply statistical methods and ML assisted analyses to answer key questions for you:</p>
        </div>
    </div>
    <div id="tagline">
      <div class="container">

      <ul>
      <li>What’s possible given the data you have?</li>
      <li>How can you improve data collection and processing?</li>
      <li>What kind of performance can you expect from an ML system in production?</li>
      </ul>
        </div>
    </div>

    <div class="marketing">
      <div class="container">
      <p>We find out whether you have the rind kind of data (and enough of it) for what you want to do, and we often discover opportunities to leverage your data that you haven’t even thought of.</p>
      {% include "lead.html" with scheme='blue' %}
      </div>
    </div>
  
  
    {% include "copyright.html" %}
{% endblock content %}

