{% extends "base.html" %}
{% block title %}summer.ai{% endblock title %}
{% block content %}
  <div id="everything">

    <div id="hero">
      <div id="bubbles">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
      </div>
      <div id="lights"></div>
      <div id="turtle"></div>
      <div id="logo"></div>
    </div>
  {% include "nav.html" %}
  <main>
    <div id="tagline">
      <div class="container">
      <p>We are a Machine Intelligence agency.</p>
      <p>We create more intelligent products <br />
      through strategic solutions to unique data challenges.</p>
      </div>
    </div>

    <div id="services">
      <div class="container">
        <h2>Our Expertise</h2>
        <ul class="services">
          <li class="prediction">
            <h3>Analytics &amp; Business Intelligence</h3>
            <p>Leverage your data to understand your customers and sales funnels. Predicting lifetime value, retention rate, or purchasing patterns can help your business capture opportunities as they arise.</p>
          </li>
          <li class="nlp">
            <h3>Natural Language Processing</h3>
            <p>News, emails, customer feedback - text is how people communicate. We help you work with unstructured data using methods like topic modeling, sentiment analysis, document labeling.</p>
          </li>
          <li class="classification">
            <h3 class="short">Machine Learning</h3>
            <p>Turn your data into actionable insights. Use machine intelligence techniques tailored to your needs to automate processes, analyze and predict risks, and streamline your data pipeline.</p>
          </li>
        </ul>
        <div class="cta">
          <a href="mailto:hello@summer.ai?subject=Let's talk about data!" class="button blue">Learn what we can do for you</a>
        </div>
      </div>
    </div>

    <div id="team">
      <div class="container">
        <h2>The Humans</h2>
        
        <div class="columns">
        <div class="h-card manu">
          <div class="avatar"><img class="u-photo" src="static/images/manu.jpg" alt="Manuel Ebert" /></div>
          <div class="right">
          <p class="n" >
            <span class="p-name">
              <span class="p-given-name">Manuel</span> <span class="p-family-name">Ebert</span>
            </span>
            <span class="p-job-title">CEO</span>
          </p>
          <p class="p-org">summer.ai</p>
          <a class="p-nickname u-url" rel="me" href="https://twitter.com/@maebert">@maebert</a>
          <p class="p-key" href="https://keybase.io/maebert/key.asc">E463E807A4C6403531ADD5FAFA39CA2CE213D791</p>
          <p class="p-note">Manuel is a former neuro-scientist, data engineer, designer and avid traveler.</p>
          </div>
        </div>

        <div class="h-card clare">
          <div class="avatar"><img class="u-photo" src="static/images/clare.jpg" alt="Clare Corthell" /></div>
          <div class="right">
          <p class="n">
            <span class="p-name">
              <span class="p-given-name">Clare</span> <span class="p-family-name">Corthell</span>
            </span>
            <span class="p-job-title">CTO</span>
          </p>
          <p class="p-org">summer.ai</p>
          <a class="p-nickname u-url" href="https://twitter.com/@clarecorthell">@clarecorthell</a>
          <p class="p-note">Clare wrote the Open Data Science Masters curriculum and has a dual background in design and engineering.</p>
        </div>
        </div>
      </div>
      </div>

    </div>

    <div id="lowercta">
      <div class="container">
        <p>Our experienced founding team has analyzed brain scans, predicted start-up growth rates, written data science curricula, trained computers to play jazz, and taught CS and AI at Stanford, Osnabrück, and Barcelona. We help humans do more with computers.</p>
      </div>
    </div>

    <div class="marketing">
      <div class="container">
      {% include "lead.html" with scheme='blue' %}
      </div>
    </div>

  {% include "copyright.html" %}

  </main>
  </div>
{% endblock content %}
