{% extends "base.html" %}
{% block title %}summer.ai - Bookshelf{% endblock title %}
{% block style %}bookshelf{% endblock style %}
{% block content %}
    <div id="hero">
      <div id="lights"></div>
      <a href="index.html"><div id="logo"></div></a>
    </div>
  {% include "nav.html" %}
    <div id="bookshelf">
      <h2>Our Bookshelf</h2>
      <h3>Machine Intelligence</h3>
      <div class="shelf">
      {% for book in books.datascience %}
        <div class="book"><a href="{{ book.url }}" title="{{ book.title }}" style="background-image: url({{ book.cover}}); height: {{ book.aspect_ratio }}px;"></a>
        </div>
      {% endfor %}
      </div>

      <h3>Other Non-Fiction</h3>
      <div class="shelf">
      {% for book in books.nonfiction %}
        <div class="book"><a href="{{ book.url }}" title="{{ book.title }}" style="background-image: url({{ book.cover}}); height: {{ book.aspect_ratio }}px;"></a></div>
      {% endfor %}
      </div>
      <h3>Fiction</h3>
      <div class="shelf">
      {% for book in books.fiction %}
        <div class="book"><a href="{{ book.url }}" title="{{ book.title }}" style="background-image: url({{ book.cover}}); height: {{ book.aspect_ratio }}px;"></a></div>
      {% endfor %}
      </div>

    </div>
    {% include "copyright.html" %}
{% endblock content %}

