<form action="#" id="leadform" class="lead {{ scheme }}">
  <h2>Let's talk about data</h2>
  <div class="inner">
    <input type="text" class="name" placeholder="Your Name">
    <input type="text" class="company" placeholder="Company">
    <input type="text" class="email" placeholder="Email or phone number">
    <input type="submit" value="Get in touch">
    <p class="small">Guaranteed response in 24 hours!</p>
  </div>
</form>
<div class="cta lead {{ scheme }}">
  <div class="or">or</div>
  <a href="mailto:manuel@summer.ai?subject=Let's talk about data!" class="button {{ scheme }}">Send us a mail</a>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/lead.min.js"></script>
